<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.gradle.builditbigger">

    <application>
        <activity
            android:name="com.udacity.gradle.builditbigger.MainActivityFragment"
            android:label="@string/title_activity_main_fragment"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>
